<a href="https://colab.research.google.com/github/vikramviky123/pySpark/blob/main/Pyspark_ch_1_SparkSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Importing Basic necessary libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=e22400ae9fb0a5fd3e70d6b0f3f43c7519c5b566d3ce7fff2671658097c30222
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

## DataFrame & SparkSession

In [5]:
## creating a spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('tutorial').getOrCreate()

In [6]:
spark

In [7]:
path = '/content/drive/MyDrive/PYSPARK/Titanic.csv'

In [56]:
df_pandas = pd.read_csv(path)
df_spark = spark.read.csv(path)
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [57]:
df = spark.read.option("header","true").csv(path, inferSchema = True)
df = spark.read.csv(path,header = True, inferSchema = True)
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [58]:
type(df)

pyspark.sql.dataframe.DataFrame

In [59]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [60]:
df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [61]:
df.describe().show(5)

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                NULL|  NULL| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| NULL|    NULL|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                NULL|  NULL|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| NULL|    NULL|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [62]:
df.count()

891

In [63]:
df.agg({'age':'avg'}).show()

+-----------------+
|         avg(age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [64]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [68]:
df_as1 = df.alias("df_as1")
df_as1.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [66]:
df.corr("age","Fare")

0.135515853527051

In [71]:
crosstab_df = df.crosstab("Sex", "Survived")
crosstab_df.show()

+------------+---+---+
|Sex_Survived|  0|  1|
+------------+---+---+
|      female| 81|233|
|        male|468|109|
+------------+---+---+

In [81]:
df.select("Embarked").distinct().show()

+--------+
|Embarked|
+--------+
|       Q|
|       C|
|       S|
|    NULL|
+--------+

In [86]:
from pyspark.sql.functions import log
print("Adding Column Log_Age")
df = df.withColumn("Log_Age", log("Age"))
df.show(3)
print("Deleting Column Log_Age")
df = df.drop("Log_Age")
df.show(3)

Adding Column Log_Age
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|           Log_Age|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S| 3.091042453358316|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|3.6375861597263857|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S| 3.258096538021482|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------------+
only showing top 3 rows

Deleting Column Log_Age
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 3 rows

In [97]:
print(df.count())
xd = df.dropna(how = "any")
print(xd.count())
print("yd checks thresh if there are 11 non none values are there")
yd = df.dropna(how = "any", thresh=11)
print(yd.count())
print("zd drops rows with NaN values in a Specific column")
zd = df.dropna(how = "any", subset=["Cabin"])
print(zd.count())

891
183
yd checks thresh if there are 11 non none values are there
733
zd drops rows with NaN values in a Specific column
204

In [104]:
df.groupby("Sex").agg({"Age":"Sum"}).show()

+------+--------+
|   Sex|sum(Age)|
+------+--------+
|female|  7286.0|
|  male|13919.17|
+------+--------+

In [106]:
df.orderBy(df.Age.desc()).show(3)
df.sort("Age", ascending=False).show(3)

+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|        631|       1|     1|Barkworth, Mr. Al...|male|80.0|    0|    0|   27042|   30.0|  A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|male|74.0|    0|    0|  347060|  7.775| NULL|       S|
|        494|       0|     1|Artagaveytia, Mr....|male|71.0|    0|    0|PC 17609|49.5042| NULL|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
only showing top 3 rows

+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|        631|       1|     1|Barkworth, Mr. Al...|male|80.0|    0|    0|   27042|   30.0|  A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|male|74.0|    0|    0|  347060|  7.775| NULL|       S|
|        494|       0|     1|Artagaveytia, Mr....|male|71.0|    0|    0|PC 17609|49.5042| NULL|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
only showing top 3 rows

In [140]:
df.filter(df.Age > 50).show(3)

+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+-----+--------+
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0| 17463|51.8625|  E46|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|113783|  26.55| C103|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|248706|   16.0| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+------+-------+-----+--------+
only showing top 3 rows

In [136]:
df.toPandas().head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [70]:
# DataFrame 1
df1 = spark.createDataFrame([(1, "A"), (2, "B")], ["id1", "value1"])

# DataFrame 2
df2 = spark.createDataFrame([(1, "X"), (2, "Y"), (3, "Z")], ["id2", "value2"])

df1.crossJoin(df2).show(5)

+---+------+---+------+
|id1|value1|id2|value2|
+---+------+---+------+
|  1|     A|  1|     X|
|  1|     A|  2|     Y|
|  1|     A|  3|     Z|
|  2|     B|  1|     X|
|  2|     B|  2|     Y|
+---+------+---+------+
only showing top 5 rows

## Columns

In [122]:
df.select(df.Name, df.Age.between(20, 40)).show(3)

+--------------------+-----------------------------+
|                Name|((Age >= 20) AND (Age <= 40))|
+--------------------+-----------------------------+
|Braund, Mr. Owen ...|                         true|
|Cumings, Mrs. Joh...|                         true|
|Heikkinen, Miss. ...|                         true|
+--------------------+-----------------------------+
only showing top 3 rows

In [127]:
df.select(df.Age).orderBy(df.Age.desc()).show(3)
df.orderBy(df.Age.desc()).show(3)

+----+
| Age|
+----+
|80.0|
|74.0|
|71.0|
+----+
only showing top 3 rows

+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
|        631|       1|     1|Barkworth, Mr. Al...|male|80.0|    0|    0|   27042|   30.0|  A23|       S|
|        852|       0|     3| Svensson, Mr. Johan|male|74.0|    0|    0|  347060|  7.775| NULL|       S|
|        494|       0|     1|Artagaveytia, Mr....|male|71.0|    0|    0|PC 17609|49.5042| NULL|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+--------+-------+-----+--------+
only showing top 3 rows

In [132]:
df.select(df.Cabin.isNull()).show(3)

+---------------+
|(Cabin IS NULL)|
+---------------+
|           true|
|          false|
|           true|
+---------------+
only showing top 3 rows

## Functions

In [133]:
from pyspark.sql import functions as F

In [138]:
df.select(F.col("Age")).show(3)

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+
only showing top 3 rows

In [142]:
df.select(F.lit(5).alias('AGE'), df.Age).show(2)

+---+----+
|AGE| Age|
+---+----+
|  5|22.0|
|  5|38.0|
+---+----+
only showing top 2 rows

In [154]:
df.groupby("Cabin").agg(F.mode("Age")\
                   .alias("Mode_Age"))\
                    .dropna(how = "any")\
                    .sort("Mode_age", ascending = False)\
                    .show(2)

+-----+--------+
|Cabin|Mode_Age|
+-----+--------+
|  A23|    80.0|
|   A5|    71.0|
+-----+--------+
only showing top 2 rows

In [166]:
df.select("Cabin", F.isnull(df.Cabin).alias("Cabin_chk")).show(5)

+-----+---------+
|Cabin|Cabin_chk|
+-----+---------+
| NULL|     true|
|  C85|    false|
| NULL|     true|
| C123|    false|
| NULL|     true|
+-----+---------+
only showing top 5 rows